@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Evitamos el scroll-behavior: smooth global porque ralentiza el scroll en muchos navegadores */
  html {
    scroll-behavior: auto; 
  }

  body {
    @apply font-sans text-brand-cream bg-zinc-950;
    /* La propiedad 'antialiased' suaviza el renderizado de texto y quita carga de CPU en pantallas de alta densidad */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Usamos h1-h6 selectivos para evitar que el navegador tenga que calcular botones/links */
  h1, h2, h3, h4, h5, h6 {
    @apply font-playfair;
  }
}